.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.line-clamp-2,
.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

th.sortable {
  cursor: pointer;
}

th.sortable .icon {
  opacity: 0.6;
}

th.sortable.active {
  color: #6272db;
}
