/* 기본 유틸리티 */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 테이블 헤더 정렬용 */
th.sortable {
  cursor: pointer;
}
th.sortable .icon {
  opacity: 0.6;
  margin-left: 4px;
}
th.sortable.active {
  color: #6272db;
}
